body {
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: hsl(217, 19%, 24%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    padding: 20px;
    text-align: center;

}

.adviceId {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: hsl(150, 100%, 66%);
}

.advice {
    padding: 20px;
    color: hsl(193, 38%, 86%);
    font-size: 30px;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
}

.button-dice {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    body, .container {
        width: auto;
        min-width: 300px;
    }

    .container {
        padding: 20px;
    }
}
